<!DOCTYPE html>
<html>
<head>
    <title>AI Code Analyzer</title>
</head>
<body>
    <h2>Enter Your Code</h2>

    <form action="/analyze" method="post">
        <textarea name="code" rows="10" cols="50"></textarea>
        <br><br>
        <button type="submit">Analyze</button>
    </form>

    {% if result %}
        <h3>AI Response:</h3>
        <p>Language: {{ result["Language"] }}</p>
<p>Lines: {{ result["Lines"] }}</p>
<p>Import Found: {{ result["Import Found"] }}</p>
<p>Plagiarism %: {{ result["Plagiarism %"] }}</p>
    {% endif %}
</body>
</html>